{% extends "base.html" %}
{% load static %}

{% block title %}shop all{% endblock title %}



{% block content %}


				
					<div class="modal-content">
						<div class="modal-body">
							<div class="row no-gutters">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<!-- Product Slider -->
										<div class="product-gallery">
											<div class="quickview-slider-active">
												<div class="single-slider">
													<img src="{{ images.0.image.url }}" alt="{{ product.product_name }}">
												</div>
												<div class="single-slider">
													<img src="{{ images.1.image.url }}" alt="{{ product.product_name }}">
												</div>
												<div class="single-slider">
													<img src="{{ images.2.image.url }}" alt="{{ product.product_name }}">
												</div>
												<div class="single-slider">
													<img src="{{ images.0.image.url }}" alt="{{ product.product_name }}">
												</div>
											</div>
										</div>
									<!-- End Product slider -->
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<div class="quickview-content">
										<h2>{{ product.product_name }}</h2>
										<div class="quickview-ratting-review">
											<div class="quickview-ratting-wrap">
												<div class="quickview-ratting">
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<a href="#"> (1 customer review)</a>
											</div>
											{% if stock %}
											<div class="quickview-stock">
												<span><i class="fa fa-check-circle-o"></i> in stock</span>
											</div>
											{% else %}
											<div class="quickview-stock">
												<span style="color:red"><i class="ti-close"style="color:red" ></i> out of  stock</span>
											</div>
											{% endif %}

										</div>
										<h3>Rs{{ product.price }}</h3>
										<div class="quickview-peragraph">
											{{ product.discription }}
										</div>
									 <form method="post" action="{% url 'add_to_cart' %}">
										{% csrf_token %}

										<input type="hidden" name="product_id" value="{{ product.product_id }}">
                                        <input type="hidden" name="price" value="{{ product.price }}">

										<div class="size">
											<div class="row">
												<div class="col-lg-6 col-12">
													{% for size in product.sizes.all %}
                                                    <input type="radio" name="size" value="{{ size.size_name }}" required> {{ size.size_name }}<br>
                                                      {% endfor %}
												</div>
											</div>
										</div>
										<div class="quantity">
											<!-- Input Order -->
											<div class="input-group">
												<input type="number" name="quantity" class="input-number"  data-min="1" data-max="1000" value="1">
											</div>

											<!--/ End Input Order -->
										</div>
										<div class="add-to-cart">
											{% if stock %}
											<button type="submit" class="btn">Add to cart</button>
											{% else %}
											<button  class="btn" type="button"  style="background-color: gray">Add to cart</button>
											{% endif %}
											<a href="#" class="btn min"><i class="ti-heart"></i></a>
											<a href="#" class="btn min"><i class="fa fa-compress"></i></a>
										</div>

									 </form>
										<div class="default-social">
											<h4 class="share-now">Share:</h4>
											<ul>
												<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
												<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
			




            {% endblock content %}