{% extends "sbase.html" %}
{% load static %}

{% block title %}checkout{% endblock title %}



{% block content %}



	

				
		<!-- Start Checkout -->
        <div class="container" id="container">
            <div class="form-container sign-in-container"style="padding-left: 350px;">

                {% if address_exists %}
                <h3>Address is already present:</h3>
                {% else %}
                <form action="{% url 'update-Address' %}" method="post">
                    {% csrf_token %}
                    <h1 style="padding-left: 100px;">Add Address</h1><br>
                    <label for="home">House/flat/no/name:</label>
                    <input type="text" placeholder="" name="home" value="{{user_address.home}}" class="form-control"style="width: 500px;"/><br>

                    <label for="street">Street:</label>
                    <input type="text" name="street" value="{{user_address.street}}" class="form-control"  style="width: 500px;"  /><br>

                    <label for="city">City:</label>
                    <input type="text" name="city" value="{{user_address.city}}"  class="form-control" style="width: 500px;" /><br>

                    <label for="state">State:</label>
                    <input  type="text" name="state" value="{{user_address.state}}" class="form-control" style="width: 500px;" /><br>

                    <label for="zip_code">ZIP Code:</label>
                    <input type="text" name="zip_code" value="{{user_address.zip_code}}" class="form-control" style="width: 500px;" /><br>

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <script>
                            alert("{{ message }}");
                        </script>
                        {% endfor %}
                    </ul>
                    {% endif %}


                    
                    
                    <button type="submit">Add</button><br>
                </form>
              {%endif%}
            </div>
            
        </div>
    
    {% endblock content%}